body{
    background-color: aquamarine;
}
.container{
    background-color: black;
}
ul{
    background-color: rgba(255, 235, 205, 0.507);
    list-style: none;
    width:100%;
    height:30px;
}
ul li{
    float:left;
    margin:0 10px;
    padding:0,10px;
    list-style: none;
    width:50px;
    height:30px;
    line-height:30px;
    vertical-align: middle;
}
ul li:hover{
    background-color: blue;
    transition: 1.5s;
}